.idea
/ads
/debug

/node_modules
/prisma/__generated__
/prisma/.DS_Store
coverage
dist
html

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.env

.DS_Store
.claude
.cursor
.agents